.gridItemContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: #4985b9;
    width: 55%;
    margin: 0px 0 30px 0;
    max-height: 100vh;
    overflow-y: auto;
}

@media (max-width: 1100px){
    .gridItemContainer{
        width: 80%;
    }
}

@media (max-width: 812px){
    .gridItemContainer{
        width: 90%;
    } 
}

@media (max-width: 550px){
    .gridItemContainer{
        width: 95%;
    } 
}

@media (max-width: 391px){
    .gridItemContainer{
        grid-template-columns: repeat(4, 81.5px);
    }
}

